<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
	
<head>
	<title th:text="'会員退会確認 | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class=" user_delete_check_client">
	<h2 th:class="title" th:text="会員退会確認"></h2>
	<p th:class="check_message" th:text="#{msg.client.delete.check}"></p>
	<div class="user_info_form_area" th:object=${userForm}>
		<ul class="input_list" >
			<li>
				<span class="input_title">メールアドレス</span>
				<span class="input_value" th:text="*{email}"></span>
			</li>
			<li>
				<span class="input_title">氏名</span>
				<span class="input_value" th:text="*{name}"></span>
			</li>
			<li>
				<span class="input_title">郵便番号</span>
				<span class="input_value" th:text="*{postalCode}"></span>
			</li>
			<li>
				<span class="input_title">住所</span>
				<span class="input_value" th:text="*{address}"></span>
			</li>
			<li>
				<span class="input_title">電話番号</span>
				<span class="input_value" th:text="*{phoneNumber}"></span>
			</li>
		</ul>
		<form th:action="@{/client/user/delete/complete}" method="post" class="user_info_form">
			<input type="submit" value="退会" class="send_button delete" />
		</form>
		<form th:action="@{/client/user/detail}" method="post" class="user_info_form">
			<input type="submit" value="戻る" class="back_button" />
		</form>
	</div>
</body>

</html>