<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="'会員退会完了 | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="client user_delete_complete_client">
	<h2 th:class="title" th:text="会員退会完了"></h2>
	<p th:class="complete_message" th:text="#{msg.client.delete.complete}"></p>
	<p class="complete_link"><a th:href="@{/client/user/list}" th:text="トップへ戻る"></a></p>
</body>

</html>