<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
  <title>注文情報入力</title>
</head>
<body>
  <h1>注文情報を入力してください。</h1>
  
  <!-- 入力項目フォーム -->
  <form th:action="@{/client/order/payment/input}" method="POST" th:object="${orderForm}">
    <label for="postalCode">郵便番号：</label>
    <input type="text" th:field="*{postalCode}>
    <br>
    
    
    <label for="address">住所：</label>
    <textarea id="address" name="address" ></textarea>
    <br>
    
    <label for="name">氏名：</label>
    <input type="text" id="name" name="name">
    <br>
    
    <label for="phoneNumber">電話番号：</label>
    <input type="text" id="phoneNumber" name="phoneNumber">
    <br>
    
    <input type="submit" value="次へ">
    <input type="submit" value="戻る" onclick="location.href='5-3-1-2.html'">
  </form>
</body>