<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title th:text="'お支払い方法選択 | '+ #{shop.title}"></title>
</head>

<body class="client user_regist_input_admin">

	<h2 th:class="title" th:text="お支払い方法を選択してください"></h2>
	<p th:class="input_message" th:text="#{msg.order.address.input}"></p>
	<div class="user_info_form_area">

		<form th:action="@{/client/order/check}" method="post" class="user_info_form" th:object="${orderForm}">
			<th:block th:if="${#fields.hasErrors()}">
				<ul class="error_list">
					<li th:each="err:${#fields.detailedErrors()}" th:text="${err.message}"></li>
				</ul>
				<br />
			</th:block>

			<label>
				<input type="radio" name="paymentMethod" value="1">
				クレジットカード
			</label>
			<br>

			<label>
				<input type="radio" name="paymentMethod" th:field="*{payMethod}" value="2">
				銀行振り込み
			</label>
			<br>
			<label>
				<input type="radio" name="paymentMethod" th:field="*{payMethod}" value="3">
				着払い
			</label>
			<br>
			<label>
				<input type="radio" name="paymentMethod" th:field="*{payMethod}" value="4">
				電子マネー
			</label>
			<br>
			<label>
				<input type="radio" name="paymentMethod" th:field="*{payMethod}" value="5">
				コンビニ決済
			</label>
			<br>
			<br>
			<input type="submit" value="次へ">

		</form>
		<form th:action="@{/client/order/address/input}" method="get">
			<input type="submit" value="戻る" class="back_button" />
		</form>
</body>

</html>