<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
    <title th:text="'買い物かご | '+ #{shop.title}"> </title>
    <meta charset="UTF-8" />
</head>
<body>
    <div class="container">
        <h2 class="title">買い物かご</h2>
        <div class="list" th:object="${myBaskets}">
        	<p th:if="${#lists.isEmpty(myBaskets)}"　th:text="#{msg.basket.list.none}"></p>
        	<p th:each="basket : ${myBaskets}" th:if="${basket.orderNum > basket.stock}" 
        	th:text="${basket.name}+'　は在庫不足のため、数を増やすことができません。'" 
        	style="color:red"></p>
            <table class="list_table" th:if="${!#lists.isEmpty(myBaskets)}">
                <tr>
                    <th>商品名</th>
                    <th>数</th>
                    <th width="20%">操作</th>
                    <th align="left">在庫状況</th>
                </tr>
                <tr th:each="basket : ${myBaskets}">
                    <td>
                     <a th:href="@{/client/item/detail/{id}(id=${basket.id})}" th:text="${basket.name}"></a>
                     </td>
                    <td th:text="${basket.orderNum}"></td>
                    <td>
                        <form th:action="@{/client/basket/delete}" method="post">
                            <input type="hidden" name="id" th:value="${basket.id}" />
                            <input type="submit" value="削除" class="delete" />
                        </form>
                    </td>
                    <td align="left">
                      	<span th:if="${basket.stock > 5}">在庫あり</span>
    					<span th:if="${basket.stock <= 5 && basket.stock > 0}" th:text="${basket.stock}"></span>
    					<span th:if="${basket.stock == 0}">在庫なし</span>
                     </td>
                </tr>
            </table>
        </div>

        <div th:if="${!#lists.isEmpty(myBaskets)}">
            <form th:action="@{/client/order/address/input}" method="post">
                <input type="submit" value="ご注文のお手続き" class="send_button order" />
            </form>
            <form th:action="@{/client/basket/allDelete}" method="post">
                <input type="submit" value="買い物かごを空にする" class="delete" />
            </form>
        </div>
    </div>
</body>
</html>
