<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
	
<head>
	<title th:text="'買い物かご | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body>
<table class="client basket_list">
	<h2 th:class="title" th:text="買い物かご"></h2>
	
	<div class="list th:if="!${#lists.isEmpty()}">
		<table class="list_table basket">
			<tr>
				<th>商品名</th>
				<th>数</th>
				<th>操作</th>
				<th>在庫状況</th>
			</tr>	
			
			<tr th:each="baslet: ${baskets}">
				<tb>
				</tb>
				
				<td>
				</td>
				
				<td>
				<form>
				<input type="submit" value="削除" class="delete"/>
				</form>
				</td>
				
				<td>
				</td>
		</table>
	</div>
	
	<div>
	<form th:action="@{/client/order/address/inpt}" method="post" >
			<input type="submit" value="ご注文のお手続き" class="send_button order" />
		</form>
		<form th:action="@{/client/user/regist/input}" method="post">
			<input type="submit" value="買い物かごを空にする" class="back_button" />
		</form>
	</div>
	<tr th:each="item:${newBasket}" >
		<td th:text="${item.name}"></td>	
	</tr>
</table>
</body>
</html>