<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
    <title th:text="'買い物かご | '+ #{shop.title}"> </title>
    <meta charset="UTF-8" />
</head>
<body>
    <div class="container">
        <h2 class="title">買い物かご</h2>

        <div class="list">
            <table class="list_table basket">
                <tr>
                    <th>商品名</th>
                    <th>数</th>
                    <th>操作</th>
                    <th>在庫状況</th>
                </tr>
                <tr th:each="basket : ${myBaskets}">
                    <td th:text="${basket.name}"></td>
                    <td>---</td>
                    <td>
                        <form th:action="@{/client/basket/delete}" method="post">
                            <input type="hidden" name="id" th:value="${basket.id}" />
                            <input type="submit" value="削除" class="send_button order" />
                        </form>
                    </td>
                    <td th:text="${basket.stock}"></td>
                </tr>
            </table>
        </div>

        <div align="center">
            <form th:action="@{/client/order/address/input}" method="post">
                <input type="submit" value="ご注文のお手続き" class="send_button order" />
            </form>
            <form th:action="@{/client/basket/allDelete}" method="post">
                <input type="submit" value="買い物かごを空にする" class="back_button" />
            </form>
        </div>
    </div>
</body>
</html>