<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="'商品詳細 | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="client item_detail_client" >
	<h2 th:class="title" th:text="商品詳細"></h2>
	
	<div class="info_form_area" th:object="${item}">
		<div class="item_detail_area">
			<div class="item_image_area">
				<span th:if="*{image != null}">
					<img th:src="@{/images/{image}(image=*{image})}"></img>
				</span>
				<span th:if="*{image == null}">
					<img th:src="@{/images/common/no_image.jpg}"></img>
				</span>
			</div>
			<dl class="item_detail_list">
				<dt>商品名</dt>
				<dd th:text="*{name}"></dd>
				<dt>価格</dt>
				<dd th:text="*{price}"></dd>
				<dt>在庫数</dt>	
				<dd>
						<span th:if="*{stock > 5}" th:text="在庫あり"></span>
    					<span th:if="*{stock <= 5 && stock > 0}" th:text="*{stock}"></span>
    					<span th:if="*{stock == 0}">在庫なし</span>
				</dd>
				<dt>カテゴリ</dt>
				<dd th:text="*{categoryName}"></dd>
				<dt>説明</dt>
				<dd th:text="*{description}"></dd>
			</dl>
		</div>


<form th:action="@{/client/basket/add}" method="post">
  <button  type="submit" name = "id" class="link-button" th:if="*{stock != 0}" th:value="*{id}">買い物かごに入れる</button>
</form>

<form th:action="@{/client/item/list/{sortType}}" method="post">
  <button type="submit" class="back_button">戻る</button>
</form>

</body>
</html>